<li class="list-group-item">

  <% if task.priority? && task.done? %>
    <h3 style="font-weight: bold; opacity: 0.5; text-decoration: line-through; word-wrap: break-word;">
    <span style="color: tomato;"><%= task.date.strftime('%e %b. %y.') %></span> 
      <%= task.content.capitalize %>
    
    <%= link_to project_task_path(@project, task.id), method: :delete, id: 'delete', data_toggle: 'tooltip' do %>
      <span class="pull-right btn btn-danger delete glyphicon glyphicon-remove" data-toggle="tooltip" placement="right" title="delete"></span>
    <% end %> 
    <%= link_to edit_project_task_path(@project, task.id), id: 'edit', data_toggle: 'tooltip' do %>
      <span class="pull-right btn btn-default glyphicon glyphicon-edit edit" data-toggle="tooltip" placement="left" title="edit"></span>
    <% end %>

    </h3>

  <% elsif task.priority? %>
    <h3 style="font-weight: bold; word-wrap: break-word;">
    <span style="color: tomato;"><%= task.date.strftime('%e %b. %y.') %></span> <%= task.content.capitalize %>

    <%= link_to project_task_path(@project, task.id), method: :delete, id: 'delete', data_toggle: 'tooltip' do %>
      <span class="pull-right btn btn-danger delete glyphicon glyphicon-remove" data-toggle="tooltip" placement="right" title="delete"></span>
    <% end %> 
    <%= link_to edit_project_task_path(@project, task.id), id: 'edit', data_toggle: 'tooltip' do %>
      <span class="pull-right btn btn-default glyphicon glyphicon-edit edit" data-toggle="tooltip" placement="left" title="edit"></span>
    <% end %>

    </h3>

  <% elsif task.done? %>
    <h3 style="opacity: 0.5; text-decoration: line-through; word-wrap: break-word;"><span style="color: tomato;"><%= task.date.strftime('%e %b. %y.') %></span> <%= task.content.capitalize %>

    <%= link_to project_task_path(@project, task.id), method: :delete, id: 'delete', data_toggle: 'tooltip' do %>
      <span class="pull-right btn btn-danger delete glyphicon glyphicon-remove" data-toggle="tooltip" placement="right" title="delete"></span>
    <% end %> 
    <%= link_to edit_project_task_path(@project, task.id), id: 'edit', data_toggle: 'tooltip' do %>
      <span class="pull-right btn btn-default glyphicon glyphicon-edit edit" data-toggle="tooltip" placement="left" title="edit"></span>
    <% end %>

    </h3>

  <% else %>
    <h3 style="word-wrap: break-word;">
    <span style="color: tomato;"><%= task.date.strftime('%e %b. %y.') %></span> <%= task.content.capitalize %> <%= @project_id %>

    <%= link_to project_task_path(@project, task.id), method: :delete, id: 'delete', data_toggle: 'tooltip' do %>
      <span class="pull-right btn btn-danger delete glyphicon glyphicon-remove" data-toggle="tooltip" placement="right" title="delete"></span>
    <% end %> 
    <%= link_to edit_project_task_path(@project, task.id), id: 'edit', data_toggle: 'tooltip' do %>
      <span class="pull-right btn btn-default glyphicon glyphicon-edit edit" data-toggle="tooltip" placement="left" title="edit"></span>
    <% end %>  

    </h3> 
  <% end %>  

</li>
